<section 
  class="relative h-[90vh] flex items-center justify-center
         bg-gray-900 text-white
         bg-[url('/assets/images/hero2.jpg')] bg-cover bg-center">
  
  <!-- Overlay -->
  <div class="absolute inset-0 bg-black/50"></div>

  <!-- Contenido -->
  <div class="relative z-10 text-center max-w-3xl px-4 font-inter">
    <h1 class="text-4xl md:text-5xl font-bold mb-4">
      Soluciones Pa'to: 
      <span class="text-text-accent drop-shadow-md">
        Carpintería, Melamina y Drywall
      </span>
    </h1>
    <p class="text-lg md:text-xl mb-6 text-gray-200">
      Diseñamos y remodelamos espacios a tu medida, con calidad, puntualidad y confianza.
    </p>
    <a href="#cotizaciones"
       class="bg-bg-brand text-white px-6 py-3 rounded-lg font-semibold shadow-md
              transition-colors duration-300
              hover:scale-105 hover:shadow-lg hover:bg-bg-accent">
       Solicitar cotización
    </a>
  </div>
</section>
