.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 24px;
  right: 24px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  box-shadow: 2px 2px 5px #999;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: box-shadow 0.2s;
}
.whatsapp-float:hover {
  box-shadow: 2px 4px 12px #25d366;
  background-color: #128c7e;
}
.whatsapp-float img {
  width: 36px;
  height: 36px;
}