<app-navbar></app-navbar>
<div class="relative h-[10vh] flex items-center justify-center text-center text-white bg-bg-brand w-full"> 

</div>
<main class="bg-gray-50 min-h-screen">
  <!-- Catálogo -->
  <section *ngIf="!productoSeleccionado">    
    <div class="container mx-auto grid md:grid-cols-3 gap-8 px-2 py-8 transition duration-500 ease-in-out">                         
      <div *ngFor="let p of productos"
           class="bg-white rounded-2xl shadow-md hover:shadow-lg transition flex flex-col justify-between p-6 h-[450px]">
        <div>
          <img [src]="'http://localhost:1218/uploads/productos/' + p.imagen" [alt]="p.nombre" 
               class="w-full h-48 object-cover rounded-xl mb-4 border border-blue-100 transition-transform duration-300 hover:scale-105" draggable="false">
          <h3 class="text-3xl font-bold text-text-brand leading-tight mb-2 truncate">{{ p.nombre }}</h3>
          <p class="text-gray-600 text-lg mb-3 text-start line-clamp-2">{{ p.descripcion }}</p>
        </div>
        <div>
          <p class="font-bold text-text-brand text-xl mb-4" >Precio estimado: <span class="text-2xl text-bg-accent">{{ p.precio }}</span></p>
          <button (click)="verDetalle(p)"
                  class="bg-bg-accent text-white w-full px-4 py-2 rounded-xl hover:bg-bg-accentHover transition font-semibold mb-2 text-xl">
            Ver detalle
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- Detalle y formulario -->
  <section *ngIf="productoSeleccionado" class="container mx-auto max-w-6xl px-4 pt-8 pb-16">
    <div class="bg-white shadow-lg rounded-2xl p-8 ">
      <div class="md:flex md:space-x-8">
        <div class="md:w-1/2 mb-6 md:mb-0">
          <img [src]="'http://localhost:1218/uploads/productos/' + productoSeleccionado.imagen" [alt]="productoSeleccionado.nombre"
           class="w-full h-80 object-cover rounded-xl mb-4 border border-blue-100">
        </div>
        <div class="md:w-1/2 gap-4 flex flex-col">
          <h2 class="text-4xl font-bold text-text-brand mb-2">{{ productoSeleccionado.nombre }}</h2>
          <p class="text-black mb-4 text-lg">{{ productoSeleccionado.descripcion }}</p>
          <p class="font-bold text-text-brand text-xl mb-6"> Precio estimado: <span class="text-2xl text-bg-accent">{{ productoSeleccionado.precio }}</span></p>
          <div class="flex flex-col md:flex-row gap-4 mb-6">
            <button (click)="cotizar()"
                    class="flex-1 bg-text-brand text-white py-3 rounded-xl hover:bg-bg-brand transition">
              Cotizar
            </button>
            <button (click)="productoSeleccionado = null"
                    class="flex-1 bg-gray-100 text-text-brand py-3 rounded-xl hover:bg-gray-200 transition border border-blue-100">
              ← Volver al catálogo
            </button>
        </div>
        
      
      </div>
      
      </div>

      <!-- Formulario -->
      <form *ngIf="mostrarFormulario" (ngSubmit)="enviarWhatsApp()" class="space-y-4 mt-4">
        <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Tu nombre"
               class="w-full border border-blue-200 p-3 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-800" required>
        <input type="email" [(ngModel)]="email" name="email" placeholder="Tu correo"
               class="w-full border border-blue-200 p-3 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-800" required>
        <input type="tel" [(ngModel)]="telefono" name="telefono" placeholder="Tu teléfono"
               class="w-full border border-blue-200 p-3 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-800" required>
        <textarea [(ngModel)]="mensaje" name="mensaje" rows="3" placeholder="Mensaje adicional"
                  class="w-full border border-blue-200 p-3 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-800"></textarea>
        <button type="submit"
                class="w-full bg-text-brand text-white py-3 rounded-xl hover:bg-bg-brand transition font-semibold">
          Enviar por WhatsApp
        </button>
      </form>
    </div>
  </section>
</main>
<app-footer></app-footer>